PORT=3200
CLIENT_URL=http://localhost:<CLIENT_PORT>

STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>

EMAIL=<your-email@mail.com>
EMAIL_PASSWORD=<your-email-pass>
ADMIN_EMAIL=<admin@yourdomain.com>