PORT=3300
CLIENT_URL=<CLIENT_URL>

STRIPE_SECRET_KEY=<STRIPE_SECRET_KEY>
STRIPE_WEBHOOK_SECRET=<STRIPE_WEBHOOK_SECRET>

EMAILING_MS_URL=http://localhost:3000
JWT_SECRET=tu_super_secreto_compartido_con_el_emailing

STORAGE_MS_URL=<URL_CLIENT>
STORAGE_TOKEN=<TOKEN_MICROSERVICE_SECRET>